<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LoggingDir" value="${rootDir}/logs/" />
    <property name="LoggingHistoryDir" value="${rootDir}/logs/history/" />
    <property name="ROOT_LEVEL" value="INFO" />
    <timestamp key="byDate" datePattern="yyyyMMdd"/>
    <property name="MESSAGE_FILE_PATTERN" value="%d{yyyy-MMM-dd HH:mm:ss.SSS} %-5level %marker %thread %logger %msg%n" />
    <property name="maxhistory" value="40"/>

    <appender name="DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
        <file>${LoggingDir}auth_debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LoggingHistoryDir}%d{yyyy-MM-dd}_debug.zip</fileNamePattern>
            <maxHistory>${maxhistory}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${MESSAGE_FILE_PATTERN}
            </pattern>
        </encoder>
    </appender>

	
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5relative %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
		
    <appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${LoggingDir}auth_info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LoggingHistoryDir}%d{yyyy-MM-dd}_info.zip</fileNamePattern>
            <maxHistory>${maxhistory}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${MESSAGE_FILE_PATTERN}
            </pattern>
        </encoder>
    </appender>

    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <file>${LoggingDir}auth_error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LoggingHistoryDir}_%d{yyyy-MM-dd}_history.zip</fileNamePattern>
            <maxHistory>${maxhistory}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${MESSAGE_FILE_PATTERN}
            </pattern>
        </encoder>
    </appender>

    <logger name="com.piggymetrics" level="INFO,ERROR"/>

    <root level="${ROOT_LEVEL}">
        <appender-ref ref="INFO"/>
        <appender-ref ref="ERROR"/>
    </root>

</configuration>